@import 'assets/styles/vars';

// /. imports

.hotels-list {

    background-color: $white-color;

    &__template {
        display: flex;
        align-items: center;
        padding: 16px 16px 16px 0;

        border-bottom: 1px solid $mercury-gray-color;
    }

    &__image {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        overflow: hidden;
        background: rgba(65, 82, 46, 0.05);

        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 24px;
    }

    &__info {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
    }

    &__price {
        color: $gray-color;
    }

    &__header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 5px;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__descr {
        margin-right: 5px;
    }

    &__rating {
        margin-right: 5px;
    }

    &__price-title {
        font-size: 11px;
        font-weight: 300;
        margin-right: 10px;
    }

    &__price-amount {
        font-size: 17px;
        font-weight: 400;
        color: $tundora-color;
    }

    &__button-amount {
        font-size: 16px;
        font-weight: 400;
    }

    &__button-add {
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;

        svg {
            stroke: $silver-color;
            fill: transparent;
            transition: all .25s ease-in-out;
        }

        &:hover {
            svg {
                fill: #EBEBEB;
                stroke: $silver-color;
            }
        }
    }

    &__button-add.active {
        svg {
            stroke: $red-color;
            fill: $red-color;
        }
    }

    &__name {
        font-size: 17px;
        font-weight: 300;
        color: $tundora-color;
        margin-bottom: 4px;
    }

    &__date {
        color: $silver-color;

        span {
            color: $gray-color;
            font-size: 14px;
            font-weight: 400;
        }
    }
}