@import 'assets/styles/vars';

@import "swiper/scss";

// /. imports

.hotel-page {
    height: 100%;
    background-color: $mercury-gray-color;

    &__header {
        padding: 32px;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        font-size: 24px;
        font-weight: 500;
        color: $tundora-color;
    }

    &__title_favourite {
        margin-bottom: 32px;
    }

    &__button {
        cursor: pointer;
        color: $woodland-color;
        font-size: 16px;
        font-weight: 400;

        display: flex;
        align-items: center;
        border: none;
        background-color: transparent;

        span {
            margin-right: 12px;
        }
    }

    &__slider {
        margin-bottom: 28px;
    }

    &__content {
        display: grid;
        grid-gap: 24px;
        grid-template-columns: minmax(auto, 360px) minmax(auto, 665px);
        grid-template-areas: 'filter main'
            'favourite main';
    }

    &__main {
        padding: 48px 32px;
        grid-area: main;
    }

    &__favourite {
        grid-area: favourite;
    }

    &__filter {
        grid-area: filter;
    }

    &__main,
    &__favourite,
    &__filter {
        background-color: $white-color;
        padding: 32px;
        box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
        border-radius: 16px;
    }

    &__main-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 28px;
    }

    &__breadcrumb-nav {
        margin-right: 10px;
    }

    &__sort-controls {
        margin-bottom: 32px;
    }

    &__date {
        font-size: 24px;
        font-weight: 400;
        color: $woodland-color;
    }

    &__info {
        font-size: 17px;
        font-weight: 300;
        color: $tundora-color;
        margin-bottom: 12px;

        span {
            font-weight: 500;
            color: $woodland-color;
        }
    }
}

.hotels-list {

    background-color: $white-color;

    &__template {
        display: flex;
        align-items: center;
        padding: 16px 16px 16px 0;

        border-bottom: 1px solid $mercury-gray-color;
    }

    &__template_favourite {
        padding: 16px 0;

        .hotels-list__image {
            display: none;
        }
    }

    &__image {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        overflow: hidden;
        background: rgba(65, 82, 46, 0.05);

        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 24px;
    }

    &__info {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
    }

    &__price {
        color: $gray-color;
    }

    &__header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 5px;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__descr {
        margin-right: 5px;
    }

    &__rating {
        margin-right: 5px;
    }

    &__price-title {
        font-size: 11px;
        font-weight: 300;
        margin-right: 10px;
    }

    &__price-amount {
        font-size: 17px;
        font-weight: 400;
    }

    &__button-amount {
        font-size: 16px;
        font-weight: 400;
    }

    &__button-add {
        background-color: transparent;
        border: none;
        padding: 0;
    }

    &__name {
        font-size: 17px;
        font-weight: 300;
        color: $tundora-color;
        margin-bottom: 4px;
    }

    &__date {
        color: $silver-color;

        span {
            color: $gray-color;
            font-size: 14px;
            font-weight: 400;
        }
    }
}

.hotels-list_main {
    overflow-y: scroll;
    max-height: 530px;
    padding-right: 12px;

    /* Firefox */
    * {
        scrollbar-width: auto;
        scrollbar-color: $woodland-color $mercury-color;
    }

    /* Chrome, Edge, and Safari */
    &::-webkit-scrollbar {
        width: 2px;
    }

    &::-webkit-scrollbar-track {
        background: $mercury-color;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $woodland-color;
        border-radius: 2px;
        border: none;
    }
}

.hotels-list_favourite {
    overflow-y: scroll;
    max-height: 290px;

    /* Firefox */
    * {
        scrollbar-width: 0;
        scrollbar-color: transparent;
    }

    /* Chrome, Edge, and Safari */
    &::-webkit-scrollbar {
        width: 0;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: none;
        border: none;
    }
}

.hotel-page__slider {
    .swiper-slide {
        background-color: #C4C4C4;
        box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        overflow: hidden;
    }

    img {
        object-fit: cover;
        width: 100%;
        height: 149px;
    }
}