@import 'assets/styles/vars';
@import 'assets/styles/mixins';

// /. imports

.find-form {
    @include rounded-section;
    padding: 32px;
    width: 100%;

    &__label {

        display: flex;
        flex-direction: column;
        margin-bottom: 14px;

        span {
            font-size: 16px;
            font-weight: 500;
            color: $tundora-color;
            margin-bottom: 10px;
        }

    }

    &__label_duration {
        margin-bottom: 32px;
    }

    &__label.invalid {
        .find-form__input {
            border-color: $red-color;
        }
    }

    &__input {
        font-size: 16px;
        font-weight: 300;
        color: $tundora-color;
        border: 1px solid $silver-sand-color;
        padding: 15px;
    }

}

.find-form_hotels {
    grid-area: filter;
    min-height: 410px;
}