@import './reset';
@import './vars';

// /. imports

html {
    font-size: 16px;
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: inherit;
    color: $tundora-color;
    background-color: #F4F4F4;
    padding: 0;
    margin: 0;
}

#root,
.App,
.page {
    height: 100%;
}


.page {
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

.container {
    max-width: 1068px;
    padding: 0 20px;
    margin: 0 auto;
}

// /. general-styles

.breadcrumb-nav {
    display: flex;

    &__element {
        font-size: 32px;
        font-weight: 500;
        color: $tundora-color;
    }

    &__element_separator {
        margin: 0 20px;
    }
}

.error-message {
    color: $red-color;
    font-size: 12px;
    font-weight: 300;
    line-height: 14.06px;
    margin-top: 7px;
}