@import './reset';
@import './vars';

// /. imports

html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: inherit;
    color: $tundora-color;
    background-color: #F4F4F4;
}